header {
    background-color: #cc90bf;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}